@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
	.users
	{
		width:80%;
	}
	
	.loader
	{
		width:70%;
	}
	
}


@media only screen and (max-device-height : 570px)
{
	.margin_page .ui-content
	{
		padding:0em 1em !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
	.profile_age .age2
	{
		width: 13% !important;
	}
	
	.profile_age fieldset .ui-controlgroup-controls
	{
		width:100%;
	}
	.profile_age fieldset .ui-controlgroup-controls .ui-radio
	{
		width:calc(100% / 3);
	}
}